.calender--section {
  flex: 1;
  align-items: stretch;

  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));

  margin: 0;
  padding: 1rem;
  gap: 12px;
  background-image: linear-gradient(to top, #fcd5f1 0%, #a6c1ee 100%);
}

.calender--item {
  border-radius: 8px;
  padding: 6px;
  background-color: #64a0d2;
}

.calender--item:hover {
  background-color: #cfe7fa;
}

@media (min-width: 800px) {
  .calender--section .calender--item {
    aspect-ratio: 4 / 7;
  }
}

@media (min-width: 1085px) {
  .calender--section {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
}

@media (width < 800px) {
  .calender--section {
    grid-template-columns: repeat(7, minmax(0, 1fr));
    width: 100%;
    max-width: 100%;
    padding: 0.5rem;
    gap: 4px;
    overflow-x: hidden;
  }

  .calender--section .calender--item {
    width: 100%;
    height: auto;
    max-width: none;
    max-height: none;
  }
}
