header {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  padding: 0px;
  grid-area: h;
}

.header-title {
  text-align: center;
  font-size: 60px;
  color: azure;
  font-family: "Wallpoet", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 798px) {
  .header-title {
    font-size: 2rem;
  }
}

@media (max-width: 433px) {
  .header-title {
    font-size: 1.7rem;
  }
}
