* {
  margin: 0;
}

body {
  height: 100vh;

  display: grid;
  grid-template-areas:
    "h"
    "m";
  grid-template-rows: auto auto;
  background: rgb(245, 90, 90);
}

main {
  grid-area: m;

  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  min-width: 0;
}
