* {
    margin: 0;
}

body {
    display: grid;
    grid-template-areas: 
        "h"
        "m";
    grid-template-rows: auto auto;
    min-height: 100vh;
    background: rgb(245, 90, 90);
}

main {
    grid-area: m;
    background: rgb(245, 90, 90);
    min-width: 0;
    width: 100%;
    overflow-x: hidden;
}